/* BOOTSTRAP */

.container {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;   
    font-family: 'Montserrat';
}

#nav-header {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.nav-link-item {
    text-decoration: none;
    color: #000;
    margin-left: 5%;
    font-weight: bold;
}

/* LEFT SIDE */

#grid-left-side {
    background-color: #e7814b;
    height: 200vh;
}

#grid-left-side-div-container {
    margin: 5%;
}

.grid-left-side-para {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    /* font-size: 18px; */
}

.grid-left-side-para-desc {
    font-weight: lighter;
    color: #fff;
}

#grid-left-side-icon-div {
    display: flex;
}

.icon-color-div {
    color: #fff;
    font-size: 18px;
    margin-right: 8%;
}

/* MAIN */

#person-img-div {
    background-color: #e7814b;
    width: 180px;
    height: 600px;
    position: absolute;
    top: 0%;
    margin: 0px -12px;
    padding: 0px;
}

#person-img {
    object-fit: cover;
    width: 390px;
    height: 490px;
    position: relative;
    top: 10%;
    left: 0%;
    box-shadow: 0px 0px 2px 2px rgba(87, 86, 86, 0.507);
}

#person-main-container {
    
}

#person-desc-div {
    position: absolute;
    top: 30%;
    left: 51%;

}

.person-name {

}

#person-vertical-line {
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #9c5e16;
    left: -38%;
    margin-top: 2.5%;
    
}

.person-skill {
    color: #9c5e16;
    text-transform: uppercase;
    font-size: 18px;
}

.person-desc {
    width: 300px;
}

.person-dot-div {
    position: absolute;
    top: 35%;
    right: 5%;
}

.person-dot {
    position: absolute;
    right: 5%;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ea9162;
}

.person-dot-2 {
    margin-top: 25px;
    background-color: #f9e3d7;
}

.person-dot-3 {
    margin-top: 50px;
    background-color: #f9e3d7;
}

.person-dot-4 {
    margin-top: 75px;
    background-color: #f9e3d7;
}

.person-dot-5 {
    margin-top: 100px;
    background-color: #f9e3d7;
}

/* PORTFOLIO */

#portfolio-section {
    display: relative;
    margin-top: 600px;
}

#portfolio-div {
    margin: 0 50px;
}

#portfolio-heading {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.portfolio-img-div {
    padding: 20px;
    /* margin: 10px; */
    transition: 0.2s ease-in;
    cursor: pointer;
}

.portfolio-img-div:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;
    
} 

.portfolio-img-inner-div {
    background-color: #000;
}

.portfolio-img:hover {
    opacity: 0.6;
    transition: 0.2s ease-out;
}

.white-portfolio {
    background-color: rgb(247, 244, 244);
}

.gray-portfolio {
    background-color: rgb(228, 226, 226);
}

.portfolio-img {
    width: 400px;
    transition: 0.2s ease-in;
}

#portfolio-img-div {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}

.portfolio-dot-div {
    top: 118%;
}

.portfolio-dot-1 {
    background-color: #f9e3d7;
}

.portfolio-dot-2 {
    background-color: #ea9162;
}

#portfolio-button-div {
    text-align: center;
    position: relative;
    top: 40px;
    left: 40px;
    
}

#portfolio-button {
    background-color: #ea9162;
    padding: 10px 40px;
    width: 200px;
    color: #fff;
    border: none;
}